.MarketplaceSearch {
  --fg: theme(colors.white);
  --fg-80: rgb(from var(--fg) r g b / 0.8);
  --fg-70: rgb(from var(--fg) r g b / 0.7);
  --fg-60: rgb(from var(--fg) r g b / 0.6);

  &.green {
    --bg: theme(colors.green.1000);
  }

  &.neutral {
    --bg: theme(colors.neutral.900);

    .light & {
      --bg: theme(colors.white);
      --fg: theme(colors.neutral.900);
    }
  }
}

/* nextra Tabs don't accept className props */
.MarketplaceSearchTabs [role='tablist'] {
  @apply grid grid-cols-2 gap-1 rounded-2xl border-none bg-neutral-800 [&.green]:bg-green-900;

  /* dark mode prefix interfers with css modules */
  .light & {
    @apply bg-neutral-100;
  }

  .green & {
    @apply bg-green-900;
  }

  & button {
    @apply rounded-2xl border-none p-3 text-sm font-medium text-neutral-200 sm:p-4 sm:text-base;

    .light & {
      @apply bg-neutral-100 text-neutral-800;
    }

    .green & {
      @apply bg-green-900 text-green-200;
    }

    &:hover {
      @apply bg-neutral-700/50 text-white;

      .light & {
        @apply bg-neutral-200/80 text-neutral-900;
      }

      .green & {
        @apply bg-green-700/25 text-green-100;
      }
    }

    &[aria-selected='true'],
    &[aria-selected='true']:hover {
      @apply cursor-default bg-[--fg] text-[--bg];

      .green & {
        @apply bg-green-300 text-green-800;
      }
    }
  }
}
